.env
__pycache__/
chroma_db/
db_data/
__MACOSX/
*.pyc
.DS_Store
ingestion_staging.db
generated papers/

# Environments & Modules
.venv
.venv/
venv/
node_modules/

# Databases & Large Data
frontend/public/generated/
generated papers/
EduQuest_Syllabus_Database/
PRIMARY PAPERS/
marking guide/
*.db
*.sqlite3
extracted_syllabus_data.json

# Logs
*.log
build_log*.txt

# IDEs
.vscode/
